%header
  %h1
    %a{ href: '/' } CoffeeZendo

%section
  :markdown
    # Header
    This is where descriptions will end up.

    Lorem ipsum dolar sit amet...

  %article.exercise
    %aside Unsolved
    %section= "square = (x) -> {?} * {?}\ncube   = (x) -> square(x) * x".gsub(/\n/, '<br/>').gsub(/\s/, '&nbsp;')

%script{ src: '/javascripts/exercise.js' }
