%header
  %h1
    %a{ href: '/' } CoffeeScript Zendo

%section
  -# Empty :-)

%script{ id: "exercise-tmpl", type: 'text/x-jquery-tmpl' }
  :plain
    <h1>${title}</h1>
    <section class="description">
      {{html description}}
    </section>
    <section class="exercise">
      <aside>Unsolved</aside>
      <section>${code}</section>
    </section>
