!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title CoffeeScript Zendo

    = stylesheet_tag 'screen'

  %body
    = yield

    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' }
    %script{ src: '/javascripts/jquery.tmpl.min.js' }
    %script{ src: '/javascripts/coffee-script.js' }
    %script{ src: '/javascripts/exercise.js' }

